/* Reset CSS section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;

}

/* Original colors used */
/* :root {
    --color1: #212020;
    --color2: #ffffff;
    --color3: #e3ff6f;
    --color4: #00e500;
    --color5: #ff5a00;
    --color6: #00b6df;
    --color7: #1b2a25;
    --color8: #f4c500;
    --color9: #929292;
} */

/* Dracula theme colors */
:root {
    --color1: #282A36;
    --color2: #F8F8F2;
    --color3: #F1FA8C;
    --color4: #50FA7B;
    --color5: #FF5555;
    --color6: #FF79C6;
    --color7: #44475A;
    --color8: #FFB86C;
    --color9: #929292;
}

a:visited {
    color: var(--color6);
}

body {
    background: var(--color1);
    color: var(--color2);
    font-family: monospace;
}

h1 {
    color: var(--color3);
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

h2 {
    color: var(--color3);
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

header {
    padding: 2rem;
}

button {
    cursor: pointer;
}

.green_text {
    color: var(--color4);
}

.todo_instructions {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.main_instructions > ul > li {
    padding-bottom: 0.5rem;
}

.main_instructions, .sample_data_instructions {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.4rem;
    padding: 1rem;
    width: 600px;
}

.tasks_dialog, .projects_dialog {
    background: var(--color1);
    color: var(--color2);
    font-size: 16px;
    padding: 30px;
    position: absolute;
    top: 10%;
}

.projects_dialog {
    width: 300px;
}

.close_task_dialog, .close_project_dialog {
    background-color: transparent;
    border-color: var(--color5);
    border-style: solid;
    color: var(--color5);
    font-family: monospace;
    padding: 5px 7px;
}

.project_delete_button {
    background-color: transparent;
    border-color: var(--color5);
    border-style: solid;
    color: var(--color5);
    font-family: monospace;
    padding: 1px 5px;
}

.task_dialog_title, .project_dialog_title {
    color: var(--color3);
    font-size: 18px;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
}

.form-close-btn {
    display: flex;
    justify-content: flex-end;
}

.form-field {
    font-weight: bold;
    padding-bottom: 1rem;
}

.form-field input, select, textarea {
    box-sizing: border-box;
    font-family: monospace;
    padding: 8px 10px;
    width: 100%;
}

.submit_new_project_section {
    padding: 1rem 0 1rem 0;
}

.submit_new_project_section button {
    background-color: transparent;
    border-color: var(--color4);
    border-style: solid;
    color: var(--color4);
    font-family: monospace;
    padding: 10px;
    width: 100%;
}

.submit_new_project_input input {
    box-sizing: border-box;
    font-family: monospace;
    padding: 8px 10px;
    width: 100%;
}

.project_dialog_description {
    font-size: 12px;
    padding-bottom: 1rem;
}

.project_list_title {
    font-size: 15px;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
}

.project_row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
}

.main_actions {
    padding:2rem;
}

.main_actions > button, .load_sample_data_button, .delete_all_data_button {
    background-color: transparent;
    border-color: var(--color4);
    border-style: solid;
    color: var(--color4);
    font-family: monospace;
    padding: 10px;
}

.load_sample_data_button {
    margin: 2rem 0 2rem 0rem;
    width: 200px;
    border-color: var(--color4);
    color: var(--color4);
}

.delete_all_data_button {
    border-color: var(--color5);
    color: var(--color5);
}

/* .project_buttons_section {
    display: none;
} */

.project_button_container {
    display: flex;
}

.project_button_all {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.project_buttons_title {
    padding: 0.5rem 2rem;
}

.project_buttons {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
}

.project_button, .all_button {
    background-color: transparent;
    border-color: var(--color6);
    border-style: solid;
    color: var(--color6);
    color: var(--color6);
    font-family: monospace;
    padding: 10px;
}

.submit_btn {
    background-color: transparent;
    border-color: var(--color4);
    border-style: solid;
    color: var(--color4);
    font-family: monospace;
    margin-top: 2rem;
    padding: 10px;
    width: 100%;
}

.edit_btn {
    background-color: transparent;
    border-color: var(--color4);
    border-style: solid;
    color: var(--color4);
    display: none;
    font-family: monospace;
    margin-top: 2rem;
    padding: 10px;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.todo_container {
    background-color: var(--color7);
    font-size: 16px;
    line-height: 1.8rem;
    padding: 2rem;
    width: 300px;
}

.task_buttons {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0 2rem 0;
}

.task_buttons button {
    background-color: transparent;
    border-color: var(--color8);
    border-style: solid;
    color: var(--color8);
    font-family: monospace;
    padding: 5px 10px 5px 10px;
}

.task_buttons > .delete_button {
    border-color: var(--color5);
    color: var(--color5);
}

.task_buttons > .progress_button {
    border-color: var(--color9);
    color: var(--color9);
}

.task_buttons > .complete_progress_button {
    border-color: var(--color4);
    color: var(--color4);
}

.card-title {
    color: var(--color4);
    font-weight: bolder;
}