/* Reset CSS section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;

}

body {
    background: #212020;
    color: #ffffff;
    font-family: monospace;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #e3ff6f;
}

header {
    padding: 2rem;
}

button {
    cursor: pointer;
}

.tasks_dialog {
    position: absolute;
    top: 10%;
    /* left: 50%; */
    background: #212020;
    color: #ffffff;
    padding: 30px;
    font-size: 16px;
}

.close_dialog {
    padding: 5px 7px;
    font-family: monospace;
    color: #ff5a00;
    background-color: #ffffff00;
    border-style: solid;
    border-color: #ff5a00;
}

.dialog_title {
    color: #e3ff6f;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 1rem;
}

.form-close-btn {
    display: flex;
    justify-content: flex-end;
}

.form-field {
    font-weight: bold;
    padding-bottom: 1rem;
}

.form-field input, select, textarea {
    font-family: monospace;
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
}

.main_actions {
    padding:2rem;
}

.main_actions > button {
    padding: 10px;
    font-family: monospace;
    color: #ff5a00;
    background-color: #ffffff00;
    border-style: solid;
    border-color: #ff5a00;
}

.project_button_container {
    display: flex;
}

.project_button_all {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.project_buttons_title {
    padding: 0.5rem 2rem;
}

.project_buttons {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
}

.project_button, .all_button {
    padding: 10px;
    font-family: monospace;
    color: #00b6df;
    background-color: #ffffff00;
    border-style: solid;
    color: #00b6df;
    border-color: #00b6df;
}

.submit_btn {
    margin-top: 2rem;
    padding: 10px;
    font-family: monospace;
    color: #00e500;
    background-color: #ffffff00;
    border-style: solid;
    border-color: #00e500;
    width: 100%;
}

.edit_btn {
    margin-top: 2rem;
    padding: 10px;
    font-family: monospace;
    color: #00e500;
    background-color: #ffffff00;
    border-style: solid;
    border-color: #00e500;
    width: 100%;
    display: none;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.todo_container {
    width: 300px;
    padding: 2rem;
    line-height: 1.8rem;
    font-size: 16px;
    background-color: #1b2a25;
}

.task_buttons {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0 2rem 0;
}

.task_buttons button {
    padding: 5px 10px 5px 10px;
    font-family: monospace;
    background-color: #ffffff00;
    border-style: solid;
    color: #f4c500;
    border-color: #f4c500;
}

.task_buttons > .delete_button {
    color: #b64545;
    border-color: #b64545;
}

.task_buttons > .progress_button {
    color: #929292;
    border-color: #929292;
}

.task_buttons > .complete_progress_button {
    color: #00bf53;
    border-color: #00bf53;
}

.card-title {
    color: #00e500;
    font-weight: bolder;
}